.main {
  background-color: #b9b9b9;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
  padding: 40px;
  display: flex;
  justify-content: center;
  border-radius: 13px;
}
.calculator {
  border-radius: 3px;
  margin: 2%;
  border-radius: 4px;
}
.one {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 60px;
  width: 300px;
}
.two,
.five,
.three,
.four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 60px;
  width: 300px;
}
.result {
  background-color: aliceblue;
}
.clear {
  background-color: #129688;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: aliceblue;
  border: 1px solid whitesmoke;
}
.left {
  background-color: #6c6c6c;
}
